{% extends "layout.html" %} {% block body %}
<div class=main>
    <h1>Work area 1</h1>
    {% if args %}
    {% for arg in args %}
    <p> {{ arg }} </p>
    {% endfor %}
    {% endif %}
</div>
<div class=aside>
    <h3>Config data</h3>
    <form method="post" action="{{ url_for('workarea1') }}">
        First name:<br>
        <input type="text" name="firstname">
        <br> Last name:<br>
        <input type="text" name="lastname">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</div>


{% endblock %}
